@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: hsl(0deg 0% 98.04%);
}

.container-user-grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
  /* grid-template-columns: repeat(1fr 2fr 1fr); */
}

.nav-container {
  grid-row: 1 /4;
}

.hero-cards {
  grid-row: 3/5;
}

.nav-container {
  background-image: url("./images/hero.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
}

nav h1 {
  font-size: 2rem;
  font-weight: 800;
}

.nav-items {
  font-size: 400;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items-links {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-items-links span {
  font-size: 1.5rem;
}

.nav-login-links {
  display: flex;
  align-items: center;
  width: 22%;
}

.nav-login-links span {
  font-size: 1.5rem;
  margin: 0 10%;
}
.nav-login-links button {
  background-color: #23a6f0;
  color: #fff;
  width: 100%;
  border: none;
  padding: 5% 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 10px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.hero-items {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-items h1 {
  font-size: 6rem;
  font-weight: 800;
}
.hero-items p {
  margin-top: 5%;
  font-size: 2.1rem;
  font-weight: 500;
  text-align: center;
}

.hero-buttons {
  margin: 10% 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-buttons button {
  padding: 3% 6%;
  margin: 10px;
  font-size: 1.3rem;
}

.get-quote-btn {
  background-color: #23a6f0;
  color: #fff;
  border-radius: 50px;
  border: 2px solid #23a6f0;
}

.Learn-more-btn {
  color: #fff;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid #fff;
}

.values-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 10%;
  background-color: #fff;
}

.values-container-items {
  display: flex;
}

.value-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}
.value-card h1 {
  font-size: 1.2rem;
  font-weight: 800;
}
.value-card p {
  text-align: center;
}

.industry-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4% 10%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.industry-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
}
.industry-topic h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  margin: 1.5rem 0;
}
.industry-topic p {
  /* width: 45%; */
  text-align: center;
}
.industry-feedback-cards {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 5rem;
}
.industry-feedback-cards p {
  text-align: center;
  width: 80%;
}
/* .feedback-cards img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
} */

.main-icon-img img {
  width: 100px;
}

.main-icon-img {
  margin-top: 10%;
  margin-bottom: 5%;
}

.feedback-cards-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedback-cards-rate {
  margin: 4% 0;
}
.feedback-cards {
  padding: 10% 5%;
  background-color: #fff;
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 15%;
  margin-bottom: 10%;
}

.partners img {
  width: 100px;
  height: auto;
}

.newsletter {
  display: flex;
  align-items: center;
  width: 100%;
  background: linear-gradient(to right, #054588, #cf1589);
  padding: 4%;
}

.newsletter-text {
  width: 70%;
  color: #fff;
}

.newsletter-text h3 {
  width: 40%;
  font-size: 2rem;
  font-weight: 800;
}

.subscribe-text {
  width: 30%;
}

.subscribe-text {
  height: 60%;
  /* width: 70%; */
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 5px;
}

.subscribe-text input {
  height: 100%;
  width: 70%;
  padding: 1rem;
  border: none;
}

.subscribe-text input:hover,
.subscribe-text input:active,
.subscribe-text input:focus {
  outline: none;
}

.newsletter-subscribe-btn {
  width: 30%;
  height: 100%;
  background-color: #23a6f0;
  color: #fff;
  border: none;
}
.subscription-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0;
}

.subscription-pricing h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2%;
}

.subscription-pricing p {
  text-align: center;
}

.pricing-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 1fr 1fr;
  width: 100%;
  height: 100%;
}

.pricing-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 5% 10%;
  border: 1px solid #23a6f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-one {
  grid-row: 4 / 2;
}

.card-two {
  grid-row: 4 /1;
  background-color: #252b42;
  color: #fff;
  & .subscription-package-item {
    margin: 1.5rem 0;
  }
}

.industry-feedback .card-three {
  grid-row: 4 /2;
}

.pricing-card h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.pricing-card h2 {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  width: 40%;
  margin-bottom: 2rem;
}

.pricing-amount {
  color: #23a6f0;
  display: flex;
  align-content: center;
  justify-content: center;
}
.pricing-amount-value {
  height: 100%;
  font-size: 5rem;
  text-align: center;
  font-weight: 800;
}
.pricing-amount-rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
}

.pricing-amount-rate p {
  font-size: 1.5rem;
}

.subscription-package {
  margin: 2rem 0;
}

.subscription-package-item {
  /* display: flex; */
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.subscription-package button {
  width: 100%;
  background-color: #23a6f0;
  padding: 1rem;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 4% 10%;
  width: 100%;
  background-color: #fff;
}

.footer-item {
  color: #252b42;
}

.footer-item ul {
  list-style: none;
  font-size: 1.2rem;
}

.footer-item ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
  font-weight: 500;
}

/* .footer-item  */
.footer-item h1 {
  font-size: 2rem;
  color: #252b42;
  font-size: 800;
}

.footer-maker {
  padding: 2% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-maker p {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.main-branch-appointment {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: repeat(3, auto);
}

.main-branch-section {
  grid-column: 1 / -1;
  grid-row: 1 / 3;

  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  background-color: #252b42;
  color: #fff;
  padding: 4% 10%;
}

.main-branch-section > div {
  grid-column: 2 /3;
}
.main-branch-container {
  grid-column: 2 /3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* gap: 20px; */
}
/* main-branch-container */
.main-appointment-section {
  grid-column: 2 /3;
  grid-row: 2 / 4;
}

.main-branch-text h1 {
  font-size: 5rem;
  font-weight: 800;
}

.main-branch-text p {
  font-size: 1.5rem;
  margin: 2rem 0;
}
